<center><img src="https://media-private.canva.com/MABumS1dZso/1/screen.jpg?response-expires=Fri%2C%2025%20Mar%202016%2020%3A00%3A00%20GMT&AWSAccessKeyId=AKIAJQ5KS576EKOAQ5WA&Expires=1458936000&Signature=E79ho1NiQbcQVr5sndCgmGiyXks%3D" height="310" width="465"></center>

<center><h1>Stefan's Phone Service</h1></center>
<center><%= link_to 'Send a text message', new_article_path %></center>
