<img src="https://www.canva.com/design/DABumXUB18o/KRAnE4u8Aytn3ADtyDTXpQ/view?&utm_content=DABumXUB18o&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton">

<h1>Stefan's Phone Service</h1>
<%= link_to 'Send a text message', new_article_path %>
